<div class="home-container">
    <div class="box box1">
      <!-- Box 1: Petit texte ou widget -->
      
      <p><h1>BlossomTrack</h1>
        <p>
          Welcome to <strong>GardenGlow</strong>, where your garden comes to life. Easily track the growth of your plants, tending to their needs with care. 
          Nurture your garden and watch it flourish with every passing day.
        </p>

    </div>
  
    <div class="box box2">
      
      <img src="/assets/home.jpg" alt="Representative banner" class="box-image">
  </div>
  
  
  
    <div class="box box3">
      <!-- Box 3: Contenu principal -->
      
      <p>Contenu principal, Tableau des derniers projets avec leur état actuel</p>
    </div>
  </div>
  